.new-story-header {
  color: rgba(0,0,0,.6);
  display: flex;
}
.new-story-share h5 {
  font-size: 14px;
 color: rgba(0,0,0,.4);
 margin-right: 20px;
}
.new-story-share h5:hover {
 color: rgba(0,0,0,.6);
 cursor: pointer;
}
.new-story-publish {
  cursor: pointer;
  color: #00ab6b;
  display: flex;
  margin-right: 15px;
}
.new-story-publish fa {}

.new-story-publish h5:hover {
  cursor:pointer;
  color: #00ab6b;
}
.new-story-publish h5 {
  color: #02b875;
  font-size: 14px;
}

.new-story-publish .fa-angle-down:hover {
  color: #00ab6b;
}
.new-story-publish .fa-angle-down {
  color: #02b875;
}

.fa-ellipsis-h {
  cursor:pointer;
}

.fa-ellipsis-h:hover {
  cursor:pointer;
color: rgba(0,0,0,.8);
}

.header-fa {
  transition: none !important;
  position: relative;
  top: 5px;
  font-size: 20px !important;
}

.click-listener {
  position: absolute;
  left: -1000px;
  top: 0;
  right: -1000px;
  bottom: -1000px;
}

.new-story-dropdown {
  position: absolute;
  list-style-type: none;
  border: 1px solid rgba(0,0,0,.2);
  padding: 15px;
  right: -95px;
  top: 34px;
  width: 210px;
  padding-bottom: 40px;
  margin-bottom: 10px;
  background: white;
  z-index: 2;
}

.new-story-dropdown-title {
  font-size: 12px;
}

.new-story-dropdown-item {
  position: absolute;
  z-index: 100;
  cursor: pointer;
}
