.new-comment textarea {
  resize: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .1);
  width: 81.2%;
  height: 120px;
  padding: 10px;
  color: rgba(0, 0, 0, .8);
}

.new-comment-submit {
  font-size: 15px;
  color: #1c9963;
  transition: all .3s;
  border: 1px solid #02b875;
  background: white;
  border-radius: 50px;
  outline: none;
  width: 65px;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.new-comment-submit:hover {
  border: 1px solid #00ab6b;;
}
