#session-form {
  width: 450px;
  justify-content: center;
  margin-top: 105px;
  text-align: center;
  background-color: white;
  height: 550px;
  z-index: 10;
  position: relative;
  margin: auto;
  top: 20px;
}

#file-input {
  margin-top: 20px;
  margin-bottom: -20px;
}

#image-preview {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 220px;
  right: 25px;
  border-radius: 50px;
}

#first-error {
  margin-top: -15px;
}

.logo {
  height: 85%;
}

#form-header-box {
  display: inline-block;
  color: black;
  background-color:#f0f0f0;
  width: 100%;
  height: 160px;
  cursor:default;
}

#form-header-box h1 {
  float: right;
  font-weight: 300;
  font-weight: 300;
  font-size: 25px;
}

#rainbow-title {
  margin-top: 40px;
}

#rainbow-title span {
  font-size: 50px;
}

.form-header {
  margin-bottom: 2px;
}

#errors-list {
  list-style-type: none;
  color: darkred;
  padding: 0;
}

#pencil {
  position: absolute;
  width: 20px;
  right: 120px;
  top: 278px;
}

.error {
  margin: 0px;
  padding: 0px;
  font-size: 0.7em;
  color: darkred;
  height: 15px;
}

#error-item {
  height: 22px;
  margin: 0;
}

.input-label {
}

.input-label input {
  margin: 14px;
  font-size: 1em;
  padding-top: 0px;
  margin-top: 0px;
}


#session-form input[type="submit"] {
  font-size: 1.2em;
  margin-bottom: 8px;
}

#file-input  {
  padding-top: 5px;
  margin-bottom: 7px;
}

#toggle-sign-button {
  padding: 3px;
  color: black;
  font-size: 1.2em;
  color: #1c9963;
  text-decoration: none;
}

#overlay {
  width: 100%;
  height: 100%;
  transform-origin: bottom center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,.6);
}
