// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden {
  display: none;
}

.collapse {
  height: 0px;
}


.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}
.lock:hover .icon-lock {
    display: inline;
}


.fa {
  padding: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fa-bookmark-o, .fa-angle-down {
  color: rgba(0, 0, 0, 0.44);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fa-bookmark-o:hover, .fa-angle-down:hover {
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

input {
  background: white;
}
textarea {
  background: white;
  resize:none;
  cols:5;
}
