#new-story {
  position: relative;
}

.new-story-title {
    overflow: visible;
    border: none;
    outline: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.new-story-description {
    overflow: visible;
    border: none;
    outline: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.fa-picture-o {
  position: relative;
  left: -425px;
  margin-bottom: 120px;
  top: 78px;
  font-size: 30px !important;
  color: rgba(0, 0, 0, 0.5);
}

#story-image-preview {
  max-height: 110px;
  position: absolute;
  left: 256px;
  top: 120px;
}
