.story-index {
  display: flex;
  flex-wrap: wrap;
}

.index-title{
  font-size: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin-top: 20px;
  height: 500px !important;
}
