<!DOCTYPE html>
<html>
  <head>
    <title>Large</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application',   media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" type="text/css" />
    <link href="//cdn.quilljs.com/1.0.0/quill.bubble.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/421bdc1e30.js" ></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
